.counter {
  background-color: $color-secondary;
}

.countdown-wrapper {
  padding: $section-margin;
  background-color: $color-primary;
  //height: 10rem;

  h3 {
    background-color: $color-secondary;
    color: $color-primary;
    font-weight: 400;
    height: 5rem;
    align-content: center;
  }
}

.countdown {
  display: flex;
  justify-content: center;
  margin: 0.7rem 0;
}

.time,
.time p {
  text-align: center;
  font-size: 1.5rem;
}
