@import "variables.scss";
@import "layout.scss";
@import "telegram.scss";
@import "form.scss";
@import "dress-code.scss";
@import "location.scss";
@import "countdown.scss";
@import "main-section.scss";
@import "typo.scss";
@import "resize.scss";
@import "see-you.scss";

* {
  //background-color: $color-primary;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // for form
  border: 0;
  outline: 0;
}
