.main {
  background-color: $color-primary;
}

.photo-main {
  //height: 50rem;
  //width: 100%;
}

.photo-main img {
  width: 100%;
  height: 100%;
  //transform: translateY(-5px);
  position: relative;
  filter: blur(0.08rem);
}

.main p,
.location-text p {
  padding-bottom: 1rem;
}

.main-text {
  color: $color-primary;

  &-date {
    text-align: center;
    position: absolute;
    top: -2rem;
    left: -2.5rem;
  }
  &-date p {
    font-size: 14rem;
    font-weight: 100;
    line-height: 13rem;
  }

  &-names {
    text-align: center;
    position: absolute;
    top: 31rem;
    right: 1.5rem;
    font-size: 1.7rem;
    //font-weight: 200;
    line-height: 2rem;
  }
  &-names h2 {
    //font-family: "Great Vibes", cursive;
    //font-weight: 400;
  }
}
