@media (min-width: 1024px) {
  body {
    padding: 8rem;
    //background-color: $color-secondary;
    background-color: rgba(89, 61, 3, 0.791);
  }

  .gallery {
    display: flex;
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-img {
      width: 60%;
    }
  }

  .row {
    flex-wrap: nowrap;
    flex-direction: row;

    &-img {
      width: 100%;
    }
  }
  .hidden {
    display: block;
    margin-top: 1rem;
  }
}
