.telegram > * {
  background-color: $color-secondary;
}

.telegram-p {
  color: $color-primary;
  padding: 2rem;
  line-height: 2rem;
}

.telegram-p a {
  outline: none;
  text-decoration: underline;
  color: $color-primary;
  font-style: italic;
}

.tg {
  width: 1.5rem;
}
