h2 {
  font-family: $cursive, $cursive2;
  font-weight: $h-font-weight;
}

.h2 {
  text-align: center;
  padding: $section-margin;
  font-size: 3rem;
}

p {
  font-family: $num-font;
  padding: $p-padding-left;
  font-size: 1.25rem;
}

h3 {
  font-family: $num-font;
  letter-spacing: 0.3rem;
  padding: $p-padding-left;
  font-size: 1.35rem;
  color: $color-secondary;
  text-transform: uppercase;
  text-align: center;
}

small {
  font-family: $num-font;
}
