// colors
$color-primary: #f4ede6;
$color-secondary: #11280dba;
$black: rgb(10, 11, 11);

// margins and paddings
$section-margin: 2rem 0;
$p-padding-left: 0 2rem;

//fonts
$heading-font: "Oswald";
$h-font-weight: 200;
$p-font: "Montserrat";
$num-font: "Playfair Display", serif;
//
//$p-font: "Gill Sans", sans-serif;
//$p-font: "Montserrat", sans-serif;

$cursive: "Snell Roundhand";
$cursive2: "Great Vibes";
$p-font-2: "Arial Narrow";
