// colors
$color-primary: #f4ede6;
$color-secondary: rgba(17, 40, 13, 0.729);

// margins and paddings
$section-margin: 2rem 0;
$p-padding-left: 0 2rem;

//fonts
$heading-font: "Oswald";
$h-font-weight: 200;
$p-font: "Montserrat";
